.content-container {
    display: flex;
    color: black;
    width: 100%;
    height: 100%;
}

.content-container > .dashboard-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 3rem 0;
    padding: 0 1rem;
}
