.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}

.register-container > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #5652522d;
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
